<div class="register-form">
  <form [formGroup]="form">
    <div class="form-group">
      <input
        type="text"
        id="name"
        class="form-control form-control-sm"
        formControlName="name"
        required
        minlength="1"
        maxlength="150"
        placeholder="Type name"
        [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
      />

      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="invalid-feedback"
        id="form-validation"
      >
        <div *ngIf="name.errors?.['required']" class="warning-message">
          Please provide a name for competency
        </div>
        <div *ngIf="name.errors?.['minlength']">
          Name must have at least 1 character.
        </div>
        <div *ngIf="name.errors?.['maxlength']">
          Name must have at most 150 characters.
        </div>
      </div>
    </div>
    
  </form>
</div>
