<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <i class="fas fa-bars"></i>
  </button>

  <span class="logo">EMS</span>

  <span class="example-spacer"></span>
  <button (click)="logout()" class="logout">Logout</button>
</mat-toolbar>

<mat-sidenav-container autosize style="height: 100vh; margin-top: 80px">
  <mat-sidenav #sidenav opened="true" mode="side" [style.width]="'200px'">
    <div class="info">
      <h3>Admin</h3>
    </div>

    <mat-nav-list>
      <mat-list-item routerLink="dashboard" class="lists">
        <div class="list-item">
          <mat-icon>dashboard</mat-icon>
          <p>Dashboard</p>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="department" class="lists">
        <div class="list-item">
          <mat-icon>corporate_fare</mat-icon>
          <p>Department</p>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="designation" class="lists">
        <div class="list-item">
          <mat-icon>loyalty</mat-icon>
          <p>Designation</p>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="employee" class="lists">
        <div class="list-item">
          <mat-icon>person_apron</mat-icon>
          <p>Employee</p>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="rolemapping" class="lists">
        <div class="list-item">
          <mat-icon>swap_horiz</mat-icon>
          <p>Role Mapping</p>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="leaveassign" class="lists">
        <div class="list-item">
          <mat-icon>event_upcoming</mat-icon>
          <p>Leave Assign</p>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="payroll" class="lists">
        <div class="list-item">
          <mat-icon>paid</mat-icon>
          <p>Payroll</p>
        </div>
      </mat-list-item>
      <mat-list-item class="lists">
        <div
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
          class="list-item"
        >
          <mat-icon>more_vert</mat-icon>
          <p>Leave Applied</p>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="approvedLeaves">
            <mat-icon>recommend</mat-icon>
            <span>Approved Leaves</span>
          </button>
          <button mat-menu-item routerLink="rejectedLeaves">
            <mat-icon>block</mat-icon>
            <span>Rejected Leaves</span>
          </button>
          <button mat-menu-item routerLink="requestedLeaves">
            <mat-icon>mark_unread_chat_alt</mat-icon>
            <span>Requested Leaves</span>
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
