<div class="modal-header">
    <h3 class="modal-title" id="exampleModalLabel">Employee Leave Details</h3>
    <button
      type="button"
      class="btn-close"
      data-mdb-dismiss="modal"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <table class="table">
      <ng-container *ngFor="let element of leaves; let isFirst = first">
        <tr *ngIf="isFirst">
          <th>Leave Type</th>
          <th>No Of Days</th>
          <th>Updated On</th>
        </tr>
        <tr>
          <td>{{ element.leaveType }}</td>
          <td>{{ element.noOfdays }}</td>
          <td>{{ element.updatedOn }}</td>
        </tr>
      </ng-container>
    </table>
  </div>
  