<div class="coll-button">
    <button
      class="btn btn-primary"
      type="button"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!collapse.collapsed"
      aria-controls="collapseExample"
    >
      Assign Leave
    </button>
    <!--Collapsed content-->
    <div class="mt-3" id="collapseExample" mdbCollapse #collapse="mdbCollapse">
      <form [formGroup]="formData">
        <mdb-form-control>
          <select formControlName="departmentId" id="departmentId" class="form-control" #mySelect (change)="fetchEmployeesByDepartment(+mySelect.value)">
            <option value="" disabled selected >Select Department</option>
            <option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</option>
        </select>
        </mdb-form-control>
        <br>
        <mdb-form-control>
          <select formControlName="employeeId" id="employeeId" class="form-control">
            <option value="">Select Employee</option>
            <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
        </select>
        </mdb-form-control>
        <br>
        <mdb-form-control>
          <select formControlName="leaveId" id="leaveId" class="form-control">
            <option value="">Select Leave Type</option>
            <option *ngFor="let leave of leaveTypes" [value]="leave.id">{{ leave.leave_types }}</option>
        </select>
        </mdb-form-control>
        <br />
        <mdb-form-control>
          <input type="number" formControlName="noOfDays" id="noOfDays" class="form-control" placeholder="Enter No Of Days "/>
        </mdb-form-control>
        <br />
  
        <button
          type="submit"
          class="btn btn-outline-primary"
          mdbRipple
          rippleColor="dark"
        >
          Add
        </button>
      </form>
    </div>
  </div>
  
  