<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="font-size: xx-large; text-align: center;">
              Register Employee
            </h3>
            <form [formGroup]="formData">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      type="text"
                      id="firstName"
                      class="form-control form-control-lg"
                      placeholder="First Name"
                      formControlName="firstName"
                    />
                    <!-- <label class="form-label" for="firstName">First Name</label> -->
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      type="text"
                      id="lastName"
                      class="form-control form-control-lg"
                      placeholder="Last Name"
                      formControlName="lastName"
                    />
                    <!-- <label class="form-label" for="lastName">Last Name</label> -->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div
                    data-mdb-input-init
                    class="form-outline datepicker w-100"
                  >
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="birthdayDate"
                      placeholder="Date Of Birth(YYYY-MM-DD)"
                      formControlName="birthday"
                    />
                    <!-- <label for="birthdayDate" class="form-label">Birthday</label> -->
                  </div>
                </div>
                <div class="col-md-6 mb-4" style="font-size: medium;">
                  <h3 class="mb-2 pb-1" style="font-size: large">Gender:</h3>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      id="femaleGender"
                      formControlName="gender"
                      value="Female"
                      checked
                    />
                    <label class="form-check-label" for="femaleGender"
                      >Female</label
                    >
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      formControlName="gender"
                      id="maleGender"
                      value="Male"
                    />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      formControlName="gender"
                      id="otherGender"
                      value="Other"
                    />
                    <label class="form-check-label" for="otherGender"
                      >Other</label
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      type="email"
                      id="emailAddress"
                      class="form-control form-control-lg"
                      formControlName="email"
                      placeholder="E-Mail"
                    />
                    <!-- <label class="form-label" for="emailAddress">Email</label> -->
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      type="tel"
                      id="phoneNumber"
                      class="form-control form-control-lg"
                      placeholder="Phone Number"
                      formControlName="mobile"
                    />
                    <!-- <label class="form-label" for="phoneNumber">Phone Number</label> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-6">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      type="text"
                      id="address"
                      class="form-control form-control-lg"
                      placeholder="Address"
                      formControlName="address"
                    />
                    <!-- <label class="form-label" for="address">Address</label> -->
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12">
                  <label
                    class="form-label select-label"
                    style="font-size: large"
                    >Choose Department</label
                  ><br />
                  <select class="select form-control-lg" formControlName="departmentId">
                    <option value="1" disabled>Choose Department</option>
                    <option *ngFor="let department of departments" [value]="department.id">{{ department?.name }}</option>
                  </select>
                </div>
              </div>

              <div class="mt-4 pt-2">
                <button
                  class="btn btn-primary btn-lg"
                  type="button"
                  (click)="onSubmit()"
                >
                  Submit
                </button>
              </div>              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
