<nav nav class="navbar navbar-expand-sm h6 sticky-top">
    <span class="logo">EMS</span>
    <span class="flex-grow-1"></span>
    <button type="button" class="btn btn-light btn-rounded" mdbRipple routerLink="/employee/salary">Salary</button>
    <span class="mx-2"></span>
    <button type="button" class="btn btn-light btn-rounded" mdbRipple routerLink="/employee/leaveApply">Leave Apply</button>
    <span class="mx-2"></span>
    <button type="button" class="btn btn-light btn-rounded" mdbRipple (click)="logout()">Logout</button>
    <span class="mx-2"></span>
    <button type="button" class="btn btn-light btn-rounded" mdbRipple routerLink="/employee/profile"><i class="fas fa-user"></i></button>
</nav>
