<div class="modal-header">
  <h3 class="modal-title" id="exampleModalLabel">Are You Sure!</h3>
  <button
    type="button"
    class="btn-close"
    data-mdb-dismiss="modal"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">Do You Want to Delete this Employee: {{ empName }}</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" (click)="modalRef.close()">
    No
  </button>
  <button type="button" class="btn btn-primary" (click)="deleteEmployee()">
    Yes
  </button>
</div>
