<div>
    <app-navbar></app-navbar>
</div>

<div>
    <div class="card bg-dark text-white">
        <img src="assets/EMS-Welcome.png" class="card-img" alt="Stony Beach"/>
        <div class="card-img-overlay">
          <h1 class="card-title text-center">WELCOME TO EMPLOYEE MANAGEMENT SYSTEM</h1><br>
          <p class="card-text text-center">Welcome to our Employee Management System (EMS). We strive to provide a comprehensive platform for managing all aspects of employee administration efficiently.</p>
          <p class="card-text" style="margin-top: 20px; margin-left: 20px;">Efficiently manage employee records, including personal details, contact information, and job-related data.</p>
          <p class="card-text" style="margin-top: 20px; margin-left: 20px;">Streamline leave application and approval processes for better workforce management.</p>
          <p class="card-text" style="margin-top: 20px; margin-left: 20px;">Manage salary details, track payments, and generate reports for payroll management.</p>
          <p class="card-text" style="margin-top: 20px; margin-left: 20px;">Stay organized with intuitive navigation and user-friendly interfaces.</p>
          <p class="card-text" style="margin-top: 20px; margin-left: 20px;">Enhance communication and collaboration among employees and management.</p>
          <p class="card-text" style="margin-top: 20px; margin-left: 20px;">Please log in to access your account or register if you are a new user.</p>
        </div>
      </div>
</div>


