<mat-accordion>
  <mat-expansion-panel #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Assign role and salary for employee!</mat-panel-title
      >
    </mat-expansion-panel-header>

    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Enter Designation"
          formControlName="newDesignationName"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          placeholder="Enter Salary Package"
          formControlName="salary_package"
        />
      </mat-form-field>
      <button mat-button type="submit">Add</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>



<div class="mat-elevation-z8 table">
    <div class="filter">
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Search here..."
        #input
      />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element">{{ element[0] }}</td>
      </ng-container>
      <!-- Employee Name Column -->
      <ng-container matColumnDef="emp_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
        <td mat-cell *matCellDef="let element">{{ element[1] }}</td>
      </ng-container>
      <!-- Department name Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department.</th>
        <td mat-cell *matCellDef="let element">{{ element[2] }}</td>
      </ng-container>
      <!-- role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let element">{{ element[3] }}</td>
      </ng-container>
      <!-- annual package Column -->
      <ng-container matColumnDef="annual_package">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Annual Package</th>
        <td mat-cell *matCellDef="let element">{{ element[4] }} LPA</td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  